@using SocialNetwork.Models.ViewModels.UsersViewModels

@model NotAcceptedInvitationsViewModel
@{

}
<div id="butSocialLinks" class="dropdown-center">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Приглашения
    </button>
    <div class="dropdown-menu social-links">
        <div>
            <div id="incomingInvitations">
                <h5>
                    Входящие приглашения
                </h5>
                <div>
                    @foreach (var item in Model.IncomingInvitations)
                    {
                        <div>
                            <a class="user-link w-100" asp-controller="SocialNetwork" asp-action="UserPage" asp-route-Id="@item.Id">@item.UserName</a>
                        </div>
                    }
                </div>
            </div>
            <div id="outgoingInvitations">
                <h5>
                    Исходящие приглашения
                </h5>
                <div>
                    @foreach (var item in Model.OutgoingInvitations)
                    {
                        <div>
                            <a class="user-link w-100" asp-controller="SocialNetwork" asp-action="UserPage" asp-route-Id="@item.Id">@item.UserName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
