@using SocialNetwork.Models.ViewModels.SocialNetworkViewModels

@model NotAcceptedInvitationsViewModel
@{

}
<div id="socialLinks" class="dropdown-center">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Приглашения
    </button>
    <div class="dropdown-menu social-links">
        <div>
            <div>
                <h3>
                    Входящие приглашения
                </h3>
                <div>
                </div>
            </div>
            <div>
                <h3>
                    Исходящие приглашения
                </h3>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
