<div id="chat" class="flex-item">
    <div id="innerChatField">
        <div id="messages">

            <div id="messagesArea">
                
            </div>
        </div>
        <div id="sendMessage" class="footer">
            
            <div id="messageInput">
                <textarea placeholder="Текст сообщения"></textarea>
            </div>
        </div>
        
    </div>
</div>