@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Chat";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ChatStyles.css" />
    <link rel="stylesheet" href="/css/MessageStyle.css" />
    <link rel="stylesheet" href="/css/RoomsStyles.css" />
}
<div id="chatBlock">
    <h2 id="chatHeader" class="text-center">Простой чат без регистрации</h2>
    <div id="liteChat">
        <div id="roomsWrap" class="flex-item side-bar">
            <div id="roomsHeader" class="border-bottom-double">
                <h3>Комнаты</h3>
            </div>
            <div>
                <button id="butCreateRoom">Создать комнату</button>
            </div>
            <div id="roomsListWrap" class="">
                <div id="roomsList">

                </div>
            </div>

        </div>
        @await Html.PartialAsync("ChatFramePartial")

        <div id="rightSide" class="flex-item side-bar">

        </div>
    </div>
</div>
<dialog id="createRoomDialog" class="network-dialog">
    <h2>Создание комнаты</h2>
    <input type="text" placeholder="Название комнаты"/>
    <button type="button">Создать</button>
</dialog>
<dialog id="userNameDialog" class="network-dialog">
    <h2>Назовитесь, товарищ!</h2>
    <input type="text" id="senderInput" placeholder="Имя пользователя"/>
    <button type="button">Утвердить</button>
</dialog>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
<script src="/js/LiteChat.js"></script>