@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Chat";
}
@section Styles {
    <link rel="stylesheet" href="~/css/LiteChatStyles.css" />
    <link rel="stylesheet" href="/css/GeneralChatStyles.css" />
    <link rel="stylesheet" href="/css/MessageStyle.css" />
    <link rel="stylesheet" href="/css/RoomsStyles.css" />
    <link rel="stylesheet" href="/css/ListItemsStyles.css" />
}
    
    <div id="chatBlock">
        <h2 id="chatHeader" class="text-center">Простой чат без регистрации</h2>
        <div id="liteChat">
            <div id="roomsWrap" class="flex-item side-bar">
                <div id="roomsHeader" class="border-bottom-double">
                    <h3>Комнаты</h3>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#createRoomDialog">Создать комнату</button>
                </div>
                <div id="roomsListWrap" class="">
                    <div id="roomsList">
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("ChatFramePartial")
            <div id="rightSide" class="flex-item side-bar">
            </div>
        </div>
    </div>
    <div id="createRoomDialog" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Создание комнаты</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="roomNameInput" class="w-100 h-100" type="text" placeholder="Название комнаты" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="butCreateRoom" type="button" data-bs-dismiss="modal" class="btn btn-primary">Создать</button>
                </div>
            </div>
        </div>
    </div>
        <div id="userNameDialog" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Назовитесь, товарищ!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input id="senderNameInput" class="w-100 h-100" type="text" placeholder="Имя пользователя" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="butSenderName" type="button" data-bs-dismiss="modal" class="btn btn-primary">Утвердить</button>
                    </div>
                </div>
            </div>
        </div>    
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
    <script type="module" src="/js/LiteChat.js"></script>

