@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Home Page";
}

<div class="chat-block">
    <h2 class="text-center">Простой чат без регистрации</h2>
    <div id="liteChat" class="lite-chat">
        
        <div id="roomsList" class="flex-item side-bar">
            <div class="border-bottom-double">
                <h3>Комнаты</h3>
            </div>
            <div>
                <button id="butCreateRoom">Создать комнату</button>
            </div>

        </div>
        <div id="chat" class="flex-item">
            <h3>Чат</h3>
            <div id="innerChatField">

            </div>
        </div>
        <div id="rightSide" class="flex-item side-bar">
    
        </div>
    </div>
</div>




























<div id="formId" class="footer">
    <label for="senderInput"></label>
    <p>
        <label for="senderInput">Имя пользователя</label>
        <input type="text" id="senderInput" placeholder="Имя пользователя"/>
    </p>
    <p>
        <label for="messageInput">Текст сообщения</label>
        <input type="text" id="messageInput" placeholder="Текст сообщения"/>
    </p>
    <p><input type="button" id="sendBtn" value="Отправить" /></p>
</div>



<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var hubConnection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
    
    hubConnection.on("Recieve", function(sender, message)
        {
        var myDiv = document.getElementById("myDiv");
        var messItem = document.createElement("p");
        messItem.innerHTML = sender + ": " + message + "(" + hubConnection.connectionId + ")";
        myDiv.appendChild(messItem);
        });

    let sendMessageButton = document.getElementById("sendBtn");

var xhr = new XMLHttpRequest();
xhr.open("POST", "/Home/Index");
//xhr.get
    sendMessageButton.addEventListener("click", function(e) {
        let sender = document.getElementById("senderInput").value;
        let message = document.getElementById("messageInput").value;
        hubConnection.invoke("Send", sender, message);
    });


    hubConnection.start().then(() => console.log(hubConnection.baseUrl + " " + hubConnection.));
    
</script>
