@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model object
@{
    Layout = "_MainLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/GeneralChatStyles.css" />
    <link rel="stylesheet" href="/css/SocialNetworkStyles.css" />
    <link rel="stylesheet" href="/css/ListItemsStyles.css" />
    <link rel="stylesheet" href="/css/MessageStyle.css" />
}
<div id="socialNetworkBlock">
        <div id="leftSide"  class="flex-item side-bar">
            <div id="comrades">
                <h5 class="border-bottom-list-header">Товарищи</h5>
                <div id="comradesAreaWrap">
                    <div id="comradesArea">
                        
                    </div>
                </div>
            </div>
            <div id="collectives">
                <h5 class="border-bottom-list-header">Коллективы товарищей</h5>
                <div id="collectivesAreaWrap">
                    <div id="collectivesArea">

                    </div>
                </div>
            </div>

            <div id="roomsListWrap" class="">
                <div id="roomsList">

                </div>
            </div>

        </div>
        @await Html.PartialAsync("ChatFramePartial")
        <div id="rightSide" class="flex-item side-bar">

        </div>

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
<script type="module" src="~/js//SocialNetwork.js"></script>