@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model object
@{
    Layout = "_MainLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/GeneralChatStyles.css" />
    <link rel="stylesheet" href="/css/SocialNetworkStyles.css" />
    <link rel="stylesheet" href="/css/ListItemsStyles.css" />
    <link rel="stylesheet" href="/css/MessageStyle.css" />
}
<div id="socialNetworkBlock">
        <div id="leftSide"  class="flex-item side-bar">
            <div id="comrades">
                <div class="list-header">
                    <h5>Товарищи</h5>
                </div>
                
                <div id="comradesAreaWrap">
                    <div id="comradesArea">
                        
                    </div>
                </div>
            </div>
            <div id="collectives">
                <div class="list-header">
                    <h5>Коллективы товарищей</h5>
                </div>
                
                <div id="collectivesAreaWrap">
                    <div id="collectivesArea">

                    </div>
                </div>
            </div>

            <div id="roomsListWrap" class="">
                <div id="roomsList">

                </div>
            </div>

        </div>
        @await Html.PartialAsync("ChatFramePartial")
        <div id="rightSide" class="flex-item side-bar">
            <div class="accordion" id="filters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                            Поиск пользователей
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne" style="">
                        <div class="accordion-body">
                            <form>
                                <input type="text" placeholder="Имя и Фамилия" />
                                <input list="citiesList" id="cities" placeholder="Город" />
                                <input type="number" id="startAge" placeholder="Минимальный возраст"/>
                                <input type="number" id="endAge" placeholder="Максимальный возраст" />
                                <datalist id="citiesList">
                                    <option value="Москва">"</option>
                                    <option value="Ростов-на-Дону">"</option>
                                    <option value="Санкт-Петербург"></option>
                                </datalist>
                                <input list="countiesList" id="counties" placeholder="Страна" />
                                <datalist id="countiesList">
                                    <option value="Россия"></option>
                                    <option value="Белоруссия"></option>
                                    <option value="Франция"></option>
                                </datalist>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
<script type="module" src="~/js//SocialNetwork.js"></script>