@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int?
@{
    Layout = "_MainLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/GeneralChatStyles.css" />
    <link rel="stylesheet" href="/css/SocialNetworkStyles.css" />
    <link rel="stylesheet" href="/css/ListItemsStyles.css" />
    <link rel="stylesheet" href="/css/MessageStyle.css" />
}

<div id="socialNetworkBlock">
        <div id="leftSide"  class="flex-item side-bar">
            <div id="comrades">



                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button no-vertical-padding no-accordion-style" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <div class="list-header">
                                    <h5>Товарищи</h5>
                                </div>
                                
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body no-padding">
                                <div id="comradesAreaWrap">
                                    <div id="comradesArea">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="collectives">
                <div class="list-header">
                    <h5>Коллективы товарищей</h5>
                </div>
                
                <div id="collectivesAreaWrap">
                    <div id="collectivesArea">

                    </div>
                </div>
            </div>

            <div id="roomsListWrap" class="">
                <div id="roomsList">

                </div>
            </div>

        </div>
        @await Html.PartialAsync("ChatFramePartial")
        <div id="rightSide" class="flex-item side-bar">
            <div class="dropdown" id="filters">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Поиск пользователей
                </button>
                <div class="dropdown-menu">
                    <form id="filterForm" asp-action="FilterUsers">
                        <label class="form-label" for="searchedUser">Имя и фамилия</label>
                        <input class="dropdown-item" type="text" placeholder="Имя и Фамилия" id="Name" name="Name" />
                        <label class="form-label" for="cities">Город</label>
                        <input class="dropdown-item" list="citiesList" id="CityName" name="CityName" placeholder="Город" />
                        <datalist id="citiesList">
                            <option value="Москва"></option>
                            <option value="Ростов-на-Дону"></option>
                            <option value="Санкт-Петербург"></option>
                        </datalist>
                        <label class="form-label" for="countries">Страна</label>
                        <input class="dropdown-item" list="countiesList" name="CountryName" id="CountryName" placeholder="Страна" />
                        <datalist id="countiesList">
                            <option value="Россия"></option>
                            <option value="Белоруссия"></option>
                            <option value="Франция"></option>
                        </datalist>
                        <label class="form-label">Возраст</label>
                        <div id="age" class="">
                            <input class="dropdown-item" type="number" name="StartAge" id="StartAge" placeholder="От" />
                            -
                            <input class="dropdown-item" type="number" name="EndAge" id="EndAge" placeholder="До" />
                        </div>
                        @*<input class="dropdown-item" type="number" id="startAge" placeholder="Минимальный возраст" />
                        <label class="form-label" for="endAge">Максимальный возраст</label>
                        <input class="dropdown-item" type="number" id="endAge" placeholder="Максимальный возраст" />*@
                        <button id="applyFilter" class="btn btn-light" type="button">Применить фильтр</button>
                    </form>
                </div>
            </div>
            <div id="filteredUsersWrap">

            </div>
        </div>

</div>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
    <script type="module" src="~/js//SocialNetwork.js"></script>
    