@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_MainLayout";
}
@section Styles {
    <link rel="stylesheet" href="/css/GeneralChatStyles.css" />
    <link rel="stylesheet" href="/css/SocialNetworkStyles.css" />
    <link rel="stylesheet" href="/css/ListItemsStyles.css" />
    <link rel="stylesheet" href="/css/MessageStyle.css" />
    <link rel="stylesheet" href="/css/SearchField.css" />
}

    <div id="socialNetworkBlock">
        <div id="leftSide" class="flex-item side-bar">

            <div class="accordion" id="accordionLinks">

                <div id="comrades" class="accordion-item">

                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed no-vertical-padding no-accordion-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="list-header">
                                <h5>Товарищи</h5>
                            </div>

                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionLinks">
                        <div class="accordion-body no-padding">
                            <div id="comradesAreaWrap" class="chats-list-area-wrap">
                                <div id="comradesArea">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="collectives" class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed no-vertical-padding no-accordion-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="list-header">
                                    <h5>Коллективы товарищей</h5>
                                </div>
                            </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionLinks">
                        <div class="accordion-body no-padding">
                            <div id="collectivesAreaWrap" class="chats-list-area-wrap">
                                <div id="collectivesArea">
                                    <button id="butShowCreationChatDialog" type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#createChatDialog">Создать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="interlocutors" class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed no-vertical-padding no-accordion-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="list-header">
                                <h5>Собеседники</h5>
                            </div>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionLinks">
                        <div class="accordion-body no-padding">
                            <div id="interlocutorsAreaWrap" class="chats-list-area-wrap">
                                <div id="interlocutorsArea">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="roomsListWrap" class="">
            <div id="roomsList">
            </div>
        </div>
    
        @await Html.PartialAsync("ChatFramePartial")
        <div id="rightSide" class="flex-item side-bar">
            <div class="dropdown" id="filters">
                <button id="butSearchUsers" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Поиск пользователей
                </button>
                <div class="dropdown-menu">
                    <form id="filterForm" asp-action="FilterUsers">
                        <label class="form-label" for="searchedUser">Имя и фамилия</label>
                        <input class="dropdown-item" type="text" placeholder="Имя и Фамилия" id="Name" name="Name" />
                        <label class="form-label" for="cities">Город</label>
                        <input class="dropdown-item" list="citiesList" id="CityName" name="CityName" placeholder="Город" />
                        <datalist id="citiesList">
                            <option value="Москва"></option>
                            <option value="Ростов-на-Дону"></option>
                            <option value="Санкт-Петербург"></option>
                        </datalist>
                        <label class="form-label" for="countries">Страна</label>
                        <input class="dropdown-item" list="countiesList" name="CountryName" id="CountryName" placeholder="Страна" />
                        <datalist id="countiesList">
                            <option value="Россия"></option>
                            <option value="Белоруссия"></option>
                            <option value="Франция"></option>
                        </datalist>
                        <label class="form-label">Возраст</label>
                        <div id="age" class="">
                            <input class="dropdown-item" type="number" min="0" name="StartAge" id="StartAge" placeholder="От" />
                            -
                            <input class="dropdown-item" type="number" min="0" name="EndAge" id="EndAge" placeholder="До" />
                        </div>
                        <label>Пол</label>
                        <div id="searchByGender">
                            <div>
                            <div class="form-group">
                                <input type="radio" checked="checked" id="GenderNotSpecified" name="Gender" value="@Gender.NotSpecified" />
                                <label for="GenderNotSpecified">Не указан</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" id="GenderMale" name="Gender" value="@Gender.Male" />
                                <label for="GenderMale">Мужской</label>
                            </div>
                            <div class="form-group">
                                    <input type="radio" id="GenderFemale" name="Gender" value="@Gender.Female" />
                                    <label for="GenderFemale">Женский</label>
                            </div>
                            </div>
                        </div>
                        <button id="applyFilter" class="btn btn-light" type="button">Применить фильтр</button>
                    </form>
                </div>
            </div>
            <div id="filteredUsersWrap">

            </div>
        </div>
    </div>
    <div id="createChatDialog" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Создание коллектива</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <input id="chatNameInput" class="w-100 h-100" type="text" placeholder="Название коллектива" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="butCreateChat" type="button" data-bs-dismiss="modal" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts{
    <script type="module" src="~/dist/SocialNetwork.js"></script>
    }
    