@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using SocialNetwork.Models.UserInfoModels
@model NetworkUser
@{
    Layout = "_MainLayout";
}

<div>Юзверь:@Model.UserName</div>
