@using SocialNetwork.Models.ViewModels.AccountViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "_MainLayout";
}
<div class="align-items-center flex-container flex-column">
    <div class="text-danger w-25" asp-validation-summary="All"></div>
    <form id="registerForm" asp-action="Register" asp-controller="Account" method="post" class="w-25">
        <div class="form-group">
            <label asp-for="Name"></label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <div><span asp-validation-for="LastName" class="text-danger"></span></div>
            <div>
                <input asp-for="LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <input asp-for="Email" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <div><span asp-validation-for="BirthDate" class="text-danger"></span></div>
            <input asp-for="BirthDate" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Gender"></label>
            <div><span asp-validation-for="Gender" class="text-danger"></span></div>
            <input type="radio" checked="checked" id="Gender" name="Gender" value="@Gender.NotSpecified" />
            <span>Не указан</span>
        </div>
        <div class="form-group">
            <div><span asp-validation-for="Gender" class="text-danger"></span></div>
            <input type="radio" id="Gender" name="Gender"value="@Gender.Male" />
            <span>Мужской</span>
        </div>
        <div class="form-group">
            <div><span asp-validation-for="Gender" class="text-danger"></span></div>
            <input type="radio" id="Gender" name="Gender"value="@Gender.Female" />
            <span>Женский</span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <div><span asp-validation-for="City" class="text-danger"></span></div>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            <div><span asp-validation-for="Country" class="text-danger"></span></div>
            <input asp-for="Country" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input asp-for="Password" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label>
            <div><span asp-validation-for="PasswordConfirm" class="text-danger"></span></div>
            <input asp-for="PasswordConfirm" class="form-control"/>
        </div>
        
        <button type="submit" class="btn btn-outline-primary">Зарегистрироваться</button>
    </form>
</div>
