#chat {
    width: 60%;
    z-index: 5;
    padding: 10px;
}

#innerChatField {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border-style: double;
    border-width: 5px;
    border-color: silver;
    z-index: 7;
    padding-top: 5px;
}

#messageInput {
    width: 95%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    z-index: 8;
    padding-top: 15px;
    border-top-width: 5px;
    border-top: groove;
}

    #messageInput textarea {
        overflow-y: scroll;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border-width: 2px;
        width: 100%;
        height: 100px;
        resize: none;
    }

#messagesArea {
    width: 100%;
    min-height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#messagesAreaWrap {
    padding-right: 15px;
    padding-left: 15px;
    overflow-y: scroll;
    width: 95%;
    height: calc(100% - 135px);
    border: none;
}

#leftSide {

}

#rightSide {

}

.flex-item {
    text-align: center;
    height: 100%;
    background-color: #f2f4f5;
}

.side-bar {
    background-color: #f2f4f5;
    width: 20%;
    padding: 10px;
    height: 100%;
}

.border-bottom-double {
    border-bottom: double;
    margin-bottom: 5px;
    border-bottom-color: lightslategrey;
}
