.network-list-item {
    padding-bottom: 3px;
    padding-top: 3px;
    border: none;
    border-bottom-color: silver;
    border-bottom-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    color: #3d3d3d;
    font-weight: 500;
}
    .network-list-item:hover {
        background-color: silver;
    }

    .network-list-item a {
        color: #3d3d3d;
    }
        .network-list-item a:hover {
            color: white;
        }
    .network-list-item-selected {
        background-color: darkslategrey;
        color: #fc7019;
    }
        .network-list-item-selected:focus{
            outline: none;
        }

        .network-list-item-selected a {
            color: #fc7019;
        }
    .network-list-item-selected:hover {
        background-color: slategray;
    }
