
#chatBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
}


#chatHeader {
    color: darkslategrey;
    top: 0;
    width: 100%;
    margin-bottom: 0;
}

#liteChat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100% - 38.4px);
}



