#roomsWrap {
    
}

#roomsHeader {
}

#butCreateRoom {
    width: 100%;
}

#roomsListWrap {
    overflow-y: scroll;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roomsList {
    border: double;
    border-color: silver;
    width: 100%;
}

#butCreateRoom {
    border: double;
    border-color: grey;
    font-weight: 500;
}

    #butCreateRoom:hover {
        background-color: silver;
    }
