#roomsWrap {
    
}

#roomsHeader {
}

#butCreateRoom {

}

#roomsListWrap {
    border: double;
    border-color: silver;
    overflow-y: scroll;
    height: calc(100% - 87px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roomsList {

    width: 100%;
}

#butCreateRoom {
    border: double;
    border-color: grey;
    font-weight: 500;
}

    #butCreateRoom:hover {
        background-color: silver;
    }
