#socialNetworkBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#comrades {
    max-height: 55%;
    width: 100%;
    border-style: double;
    border-color: silver;
    border-radius: 5px;
}

#comradesAreaWrap {
    width: 100%;
    height: calc(100% - 45px);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: double;
    border-top-color: slategrey;
}
#comradesArea {
    width: 100%;
}
#collectives {
    max-height: 45%;
    width: 100%;
}

#collectivesAreaWrap {
    width: 100%;
    min-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 45px);
    border-top: double;
    border-top-color: slategrey;
}
#collectivesArea {
    width: 100%;
}
.list-header {

}
.list-header h5{
    margin: 0;
    color: #7d1d03;
}
#filters{
    width: 100%;

}
#filters input {
    width: 100%;
    border-bottom-style:solid;
    border-bottom-width: 1px;
}
#filters div {
    width: 100%;
    padding: 5px;
}
    #filters div #age input{
        width: 45%;
        display: inline;
        padding: 5px;
    }
    
    #filters button{
        width: 100%;
    }
#age {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#searchByGender input{
    width: auto;
}
#age input{
    text-align:center;
}
#filteredUsersWrap{
    height: calc(100% - 38px);
    padding-top: 5px;
    width: 100%;
}

.filtered-user-wrap {
    border: 1px solid slategray;
    border-radius: 5px;
}

.no-padding {
    padding: 0;
}

.no-accordion-style:focus{
    outline: 0;
    box-shadow: none;
}
