#socialNetworkBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#comrades {
    height: 55%;
    width: 100%;
    border-style: double;
    border-color: silver;
    border-radius: 5px;
}

#comradesAreaWrap {
    width: 100%;
    height: calc(100% - 45px);
    overflow-x: hidden;
    overflow-y: auto;
}
#comradesArea {
    width: 100%;
}
#collectives {
    height: 45%;
    width: 100%;
    border-style: double;
    border-width: 3px;
    border-color: silver;
    border-radius: 5px;
}

#collectivesAreaWrap {
    width: 100%;
    min-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 45px);
}
#collectivesArea {
    width: 100%;
}
.list-header {
    padding-top: 3px;
    padding-bottom: 5px;
    border-bottom: double;
    border-bottom-color: slategrey;
}
.list-header h5{
    margin: 0;
    color: #7d1d03;
}
#filter{
    display: flex;
    flex-direction: column;
}
