.flex-container-column {
    flex-direction: column;
    align-items: self-start;
}
#userInfoWrap {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#userInfo {
    padding: 10px;
    background-color: white;
}
.user-page-row{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
    .user-page-row div:first-child {
        margin-right: 50px;
    }
    .user-page-row :first-child{
        margin-right: 50px;
    }
